<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kerinova.flashcards" android:versionCode="1" android:versionName="1.0.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Flashcards" android:theme="@style/Theme.Custom" android:allowBackup="true" android:supportsRtl="true" android:installLocation="auto"></application>
</manifest>